@model Agca.ECommerce.CoreMvcWebUI.Models.CartSummaryViewModel


    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        @foreach (var item in Model.Cart.CartLines)
        {
            <a class="dropdown-item" href="#">@item.Product.Name <span class="badge badge-primary">@item.Quantity</span></a>
        }

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Go to cart details</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shopping-cart" style="font-size:larger; color:orange"></i> Total : @Model.Cart.Total <i class="fa fa-turkish-lira" style="font-size:larger; color:green"></i></a>

    </div>

