@model Agca.ECommerce.CoreMvcWebUI.Models.UserSummaryViewModel
    <li class="nav-item dropdown m-1">
        <a class="nav-link dropdown-toggle" style="font-size:14pt" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <a style="color:blue; font-size:12pt">Welcome @Model.UserName</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/Account/Logout"><i class="fa fa-sign-out" ></i> Logout </a>
        </div>
    </li>

